@model WebApplication.ViewModels.DeviceViewModel
@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/Device/device.js")
<div class="background-transparent">
    <h2 class="text-center">Devices</h2>
    <ul class="list-group">
        @foreach (var device in Model.Devices)
        {
            <li class="list-group-item">
                <span class="link-goto folder-name">
                    @Html.ActionLink(@device.CustomDeviceName, "Index", "Folder", new { IdOfOpenDevice = 1 }, new { @class = "remove-link" })
                </span>

                @Html.ActionLink("Unpair Device", "DeleteDevice", "Device", new { deviceId = 1, deviceName = device.CustomDeviceName}, new { @class = "btn btn-default remove-button" })
            </li>
        }
    </ul>
    <p>@Html.ActionLink("Pair With New Device", "NewDevice", "Device", new { area = "" }, new { @class = "btn btn-default remove-button center-block" })</p>
</div>

