@model WebApplication.ViewModels.FolderViewModel
@{
    ViewBag.Title = "Folder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
       string className = Model.Folders.Count > 5 ? "multipleFolders" : null;
}
<h2 class="@className">Folders</h2>
<ul class="list-group">
    @{
        int i = 0;
        String collapse = "";
     }

    @foreach (var device in Model.Devices)
    {
        <li class="list-group-item" >
            <span class="collapsing-content" data-toggle="collapse" data-target=".collapsable-device-@(i)">@device.Name</span>
            @if (Model.IndexOfOpenDevice == i)
            {
                collapse = "in";
            }
            else
            {
                collapse = "";
            }
            <ul class="list-group collapsable-device-@(i) collapse @(collapse)">
            @foreach (var folder in Model.Folders)
            {
                <li class="list-group-item">
                    <span >@folder.Name</span>
                    <p class="btn btn-default">@Html.ActionLink("Delete", "DeleteFolder", "Folder", new { folderId = folder.FolderId}, null)</p>
                </li>
            }
            </ul>
            <p class="btn btn-default">@Html.ActionLink("New Folder", "NewFolder", "Folder", new { area = "" }, null)</p>
        </li>
        i++;
    }
</ul>




